button {
  border-style: inherit;
}

.btn-favourite {
  min-height: 36px;
  width: 100px;
  border-radius: 18px;
  border: 10px solid rgba(151, 162, 164, 0.25);
  position: absolute;
  bottom: 20px;
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 1px;
  transition: background-color 0.3s, color 0.3s;

  &.favorited {
    background-color: rgba(255, 255, 255, 0.916);
    color: black;
    border: none;
    mix-blend-mode: screen;
  }

  &:active {
    transform: rotate(-5deg);
  }
}

.btn-favourite-popup {
  position: fixed;
  bottom: 40px;
  right: 40px;
  height: 70px;
  min-width: 70px;
  border-radius: 36px;
  border: 0px solid rgba(255, 255, 255, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  background-color: #f2f2f2;

  .heart {
    width: 60px;
    opacity: 0.8;
    position: relative;
  }

  .exit {
    width: 30px;
    opacity: 0.8;
    position: relative;
  }

  &:hover {
    background-color: rgb(255, 255, 255);
  }

  &:active {
    background: linear-gradient(145deg, #d0d0d0, #f7f7f7);
  }
}

.btn-try-again {
  min-height: 36px;
  width: 100px;
  border-radius: 18px;
  border: 10px solid rgba(151, 162, 164, 0.25);
  background-color: transparent;
  color: rgb(27, 27, 27);
  border-color: rgb(27, 27, 27);
  border-width: 1px;
  transition: background-color 0.3s, color 0.3s;

  &:active {
    background-color: black;
    color: white;
  }
}

.btn-next-picture {
  opacity: 0.3;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 3;
  border-width: inherit;
  // filter: invert(1);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }
}

.mirrored {
  transform: rotate(180deg);
  left: 30px;
}
