.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.866);
  z-index: 1;
}

.favorites-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 30px;
  overflow-x: auto;
  z-index: 2;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}


.favorite-picture-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;

  .favorite-picture {
    max-width: 86vw;
    max-height: calc(100vh - 160px);
  }

  .favorite-picture-info {
    height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title {
      max-width: 80vw;
      overflow-x: hidden;
      font-size: 18px;
    }

    .counter {
      font-size: 14px;
      color: #888;
    }
  }
}

  /* For smartphones */
  @media only screen and (max-width: 640px) {
    .favorites-popup {
      grid-template-columns: minmax(50px, 300px);
    }
  }

  /* For tablets */
  @media only screen and (min-width: 641px) and (max-width: 970px) {
    .favorites-popup {
      grid-template-columns: repeat(2, 300px);
    }
  }

  /* For wide screens */
  @media only screen and (min-width: 971px) {
    .favorites-popup {
      grid-template-columns: repeat(3, 300px);
    }
  }
