#picture-grid {
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  list-style: none;
  max-width: 80%;
}

.loading-field {
  height: 100px;
  text-align: center;
  margin-bottom: 40px;
}

.loading {
  height: 100%;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

/* For smartphones */
@media only screen and (max-width: 640px) {
  #picture-grid {
    grid-template-columns: minmax(1fr, 300px);
  }
}

/* For tablets */
@media only screen and (min-width: 641px) and (max-width: 970px) {
  #picture-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

/* For wide screens */
@media only screen and (min-width: 971px) {
  #picture-grid {
    grid-template-columns: repeat(3, 300px);
  }
}
