#picture-grid {
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  list-style: none;
  max-width: 80%;
}

/* For smartphones */
@media only screen and (max-width: 640px) {
  #picture-grid {
    grid-template-columns: minmax(1fr, 300px);
  }
}

/* For tablets */
@media only screen and (min-width: 641px) and (max-width: 970px) {
  #picture-grid {
    grid-template-columns: repeat(2, 300px);
  }
}

/* For wide screens */
@media only screen and (min-width: 971px) {
  #picture-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

.picture-container {
  position: relative;
  height: 200px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.picture-info {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 50px 30px 30px 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.316);
  border-radius: 5px;
  color: white;

  p {
    margin: 0;
  }

  .alt {
    font-weight: 500;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  hr {
    background-color: white;
    width: 60px;
    height: 1px;
  }

  .photographer {
    font-style: italic;
  }

  &:hover {
    opacity: 1;
  }
}
