#picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 0;
  list-style: none;
}

.picture-container {
  position: relative;
  height: 200px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.picture-info {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.316);
  border-radius: 5px;
  color: white;

  &:hover {
    opacity: 1;
  }
}
